@use '@/assets/sass/settings/' as *;
@use '@/assets/sass/tools/' as tools;

.image {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  &--lazy {
    @include skeleton-animation;

    & .image__img {
      opacity: 0;
    }
  }
}

.image__img {
  transition: $transition-medium;
  opacity: 1;
  display: block;
  max-width: 100%;
  max-height: 100%;
}
