.leader__name {
  display: flex;
  justify-content: center;
}

.leader__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.leader__image {
  position: relative;
  display: block;
  overflow: hidden;
  max-width: 5rem;
  height: fit-content;
  max-height: 5rem;
  border-radius: var(--border-radius);
  filter: drop-shadow(var(--drop-shadow-lg));

  @media (--mq-from-xsmall) {
    max-width: 7.5rem;
    max-height: 7.5rem;
  }

  @media (--mq-from-small) {
    max-width: 9.5rem;
    max-height: 9.5rem;
  }

  @media (--mq-from-medium) {
    max-width: 11.5rem;
    max-height: 11.5rem;
  }

  @media (--mq-from-large) {
    max-width: 13rem;
    max-height: 13rem;
  }

  @media (--mq-from-xlarge) {
    max-width: 15rem;
    max-height: 15rem;
  }
}
