.login__input {
  border-radius: 4px;
  border: solid 1px lightgrey;
  padding: 1rem;
  width: 100%;
}

.login__label {
  padding: 0 18rem;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.login__button {
  margin: 0 auto;
}

.login__loader {
  display: flex;
  justify-content: center;
}
