@use '@/assets/sass/settings/' as *;
@use '@/assets/sass/tools/' as *;

.icon {
  display: inline-block;
  line-height: 0;

  &--block {
    display: block;
  }

  &--inline {
    display: inline;
  }
}

.icon__svg {
  width: 100%;
  height: 100%;

  .icon--inline & {
    width: auto;
    height: 1rem;
    vertical-align: middle;
  }
}
