.form-field {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--space-32);

  @media (--mq-from-medium) {
    flex-direction: row;
  }
}

.form-field__divider {
  display: block;
  width: 100%;
}
