.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--space-48);
}

.formLoader {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.formResult {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
