.activities__button {
  display: flex;
  justify-content: center;
}

.activities {
  padding-left: 0;
  padding-right: 0;
  padding-top: var(--space-32);

  @media (--mq-from-medium) {
    padding-left: var(--space-32);
    padding-right: var(--space-32);
  }

  @media (--mq-from-large) {
    padding-left: var(--space-80);
    padding-right: var(--space-80);
  }
}
