.modal__container {
  position: fixed; /* Stay in place */
  z-index: var(--z-index-modal);
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
}

.modal__content {
  overflow-x: hidden;
  position: relative;
  width: fit-content;
  min-width: 15%;
  max-width: 90%;
  padding: 1rem;
  border: 1px solid #888;
  margin: auto;
  background-color: #fefefe;
  border-radius: 10px;

  @media (--mq-up-to-large) {
    max-width: 100%;
  }
}

.modal__close {
  position: absolute;
  z-index: calc(var(--z-index-modal) +1);
  top: 10px;
  right: 10px;
  left: auto;
  color: darkslategrey;

  &:hover,
  :focus {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }
}

.modal__body {
  position: relative;
  width: 100%;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
}
