@use '@/assets/sass/settings/' as *;
@use '@/assets/sass/tools/' as tools;

.cta {
  display: flex;
  gap: tools.rem(12);
  flex-direction: column;
  justify-content: space-between;
  width: 84%;
  padding: tools.rem(14) tools.rem(16);
  background-color: $color-white;
  box-shadow: $shadow-medium;
  border-radius: $border-radius;

  @include tools.respond-from(small) {
    flex-direction: row;
    width: 72%;
    padding: tools.rem(14) tools.rem(36);
  }
}

.cta__copy {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include tools.respond-from(small) {
    text-align: left;
  }
}

.cta__copy__title {
  font-family: $font-family-title;
  font-weight: $font-weight-semibold;
  font-size: tools.rem(12);
  text-transform: uppercase;

  @include tools.respond-from(medium) {
    font-size: tools.rem(16);
  }
}

.cta__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: tools.rem(16);
}

.cta__socials__item {
  transition: transform $transition-medium;
  height: tools.rem(20);

  &:hover,
  &:focus {
    cursor: pointer;
    transform: translateY(tools.rem(-2));

    & .cta__socials__item__icon::after {
      opacity: 1;
    }
  }

  @include tools.respond-from(medium) {
    height: tools.rem(30);
  }
}

.cta__socials__item__icon {
  &::after {
    content: '';
    position: absolute;
    display: block;
    background-color: $color-primary;
    transform: translateY(tools.rem(4));
    height: tools.rem(3);
    border-radius: $border-radius;
    width: 100%;
    opacity: 0;
    transition: opacity $transition-medium;
  }
}
