@use "@/assets/sass/settings/" as *;
@use "@/assets/sass/tools/" as tools;

.footer-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: tools.rem(48);
}

.footer-info__section {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.info-col {
  display: flex;
  flex-direction: column;
  max-width: tools.rem(200);

  & + & {
    margin-left: tools.rem(24);
  }

  p {
    margin-bottom: 0;
  }
}

.info-col__title {
  font-family: $font-family-title;
  font-weight: $font-weight-regular;
  font-size: tools.rem(16);
}

.info-col__content {
  font-family: $font-family-text;
  font-weight: $font-weight-regular;
  font-size: tools.rem(14);
}
