.year-theme {
  overflow: hidden;
  width: fit-content;
  border-radius: var(--border-radius);
  box-shadow: var(--drop-shadow-sm);
  transition:
    transform var(--transition),
    box-shadow var(--transition);

  &:hover {
    box-shadow: var(--drop-shadow-lg);
    transform: scale(1.05);
  }
}

.year-theme__image {
  width: 10rem;

  @media (--mq-from-large) {
    width: 12rem;
  }
}
