.year-theme {
  overflow: hidden;
  width: fit-content;
  border-radius: var(--border-radius);
  filter: drop-shadow(var(--drop-shadow-lg));
}

.year-theme__image {
  width: 10rem;

  @media (--mq-from-large) {
    width: 12rem;
  }
}
