.faq-item {
  &:not(:last-child) {
    border-bottom: solid var(--color-light-grey) 0.063rem;
  }

  &--open {
    .faq-item__title__chevron {
      transform: rotate(180deg);
    }
  }
}

.faq-item__title {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-32);
  border: none;
  background-color: var(--color-white);
  gap: var(--space-4);
  text-align: left;
  transition: var(--transition) background-color;

  &:hover {
    background-color: var(--color-neutral-50);
    cursor: pointer;
  }

  &:focus {
    background-color: var(--color-neutral-50);
    outline: none;
  }
}

.faq-item__title__chevron {
  flex-shrink: 0;
  transition: var(--transition) transform;
}

.faq-item__answer {
  padding: var(--space-32);
}

.faq-item__answer--with-image {
  display: grid;
  gap: var(--space-40);
  grid-template-columns: 1fr;

  @media (--mq-from-large) {
    align-items: center;
    grid-template-columns: auto 22rem;

    & .faq-item__answer__content {
      order: 0;
    }

    & .faq-item__answer__image-container {
      order: 1;
    }
  }

  @media (--mq-from-xlarge) {
    gap: var(--space-64);
    grid-template-columns: auto 28rem;
  }
}

.faq-item__answer__image-container {
  position: relative;
  height: fit-content;
}

.faq-item__answer__image {
  position: relative;
  display: block;
  overflow: hidden;
  max-width: 100%;
  height: fit-content;
  border-radius: var(--border-radius);
  filter: drop-shadow(var(--drop-shadow-lg));
}

.faq-item__answer__content {
  display: flex;
  flex-direction: column;
}

.faq-item__answer__content__button-container {
  display: flex;
  justify-content: center;
}

.faq-item__answer__content__button {
  margin-top: var(--space-24);
}
