.faq-item__container {
  padding-top: var(--space-32);
  padding-right: var(--space-32);
  padding-left: var(--space-32);
  border: none;
}

.faq-item__title {
  display: flex;
  justify-content: space-between;
  padding-right: var(--space-32);
  padding-bottom: var(--space-32);
  border-bottom: solid var(--color-light-grey) 0.063rem;

  &:hover {
    cursor: pointer;
  }
}

.faq-item__title--no-border {
  display: flex;
  justify-content: space-between;
  padding-right: var(--space-32);
  padding-bottom: var(--space-32);

  &:hover {
    cursor: pointer;
  }
}

.faq-item__answer {
  padding-top: var(--space-32);
  padding-bottom: var(--space-32);
  border-bottom: solid var(--color-light-grey) 0.063rem;
}

.faq-item__answer--with-image {
  display: grid;
  gap: var(--space-40);
  grid-template-columns: 1fr;

  @media (--mq-from-large) {
    align-items: center;
    grid-template-columns: auto 22rem;

    & .faq-item__answer__content {
      order: 0;
    }

    & .faq-item__answer__image-container {
      order: 1;
    }
  }

  @media (--mq-from-xlarge) {
    gap: var(--space-64);
    grid-template-columns: auto 28rem;
  }
}

.faq-item__answer__image-container {
  position: relative;
  height: fit-content;
}

.faq-item__answer__image {
  position: relative;
  display: block;
  overflow: hidden;
  max-width: 100%;
  height: fit-content;
  border-radius: var(--border-radius);
  filter: drop-shadow(var(--drop-shadow-lg));
}

.faq-item__answer__content {
  display: flex;
  flex-direction: column;
}

.faq-item__answer__content__button-container {
  display: flex;
  justify-content: center;
}

.faq-item__answer__content__button {
  margin-top: var(--space-24);
}

.faq-item__answer--hidden {
  display: none;
}
