@use "@/assets/sass/settings/" as *;
@use "@/assets/sass/tools/" as tools;

.title {
  display: block;
  color: $color-text;

  @each $level, $size-info in $font-titles-map {
    &--#{$level} {
      display: block;

      @include tools.title($level, $font-family-title, $font-titles-map);
    }
  }

  &--light {
    color: $color-white;
  }
}
