.filesection__nofiles {
  display: flex;
  justify-content: center;
  padding-top: var(--space-32);
  padding-bottom: var(--space-32);
  border-top: 1px var(--color-dark-grey) solid;
  border-bottom: 1px var(--color-dark-grey) solid;
}

.filesection__nofiles__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
