.filesection__nofiles {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
}

.filesection__nofiles__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
