.filesection {
  margin-bottom: var(--space-64);
}

.filesection__nofiles {
  padding-top: var(--space-32);
  padding-bottom: var(--space-32);
  border-bottom: 1px var(--color-neutral-200) solid;
}

.filesection__nofiles__text {
  font-size: medium;
}
