@use '@/assets/sass/settings/' as *;
@use '@/assets/sass/tools/' as tools;

.header {
  width: 100%;
  box-shadow: $shadow-medium;
}

.header__wrapper {
  position: relative;
  z-index: $z-index-header;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__link {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  margin-right: tools.rem(48);
  height: tools.rem(72);
}
