@use "@/assets/sass/settings/" as *;
@use "@/assets/sass/tools/" as tools;

.header {
  display: flex;
  align-items: center;
}

.header__link {
  white-space: nowrap;
  margin-right: tools.rem(48);
}
