@use '@/assets/sass/settings/' as *;
@use '@/assets/sass/tools/' as tools;

.header {
  width: 100%;
  background-color: $color-white;
  box-shadow: $shadow-medium;
}

.header__wrapper {
  position: relative;
  z-index: $z-index-header;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tools.respond-from(large) {
    justify-content: flex-start;
  }
}

.header__link {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  margin-right: tools.rem(48);
  height: tools.rem(72);
  z-index: $z-index-nav-logo;
}

.header__nav {
  width: 100%;

  &--invisible {
    display: none;
  }

  &--visible {
    display: block;
  }

  @include tools.respond-up-to(large) {
    z-index: $z-index-nav-small;
  }

  @include tools.respond-from(large) {
    display: block;
  }
}

.header__trigger {
  z-index: $z-index-nav-trigger;

  @include tools.respond-from(large) {
    display: none;
  }
}
