.registerchild {
  padding: 2rem 5rem;
  border-bottom: solid 1px lightgray;

  @media (--mq-up-to-medium) {
    padding: 2rem 0rem;
  }
}

.registerchild__card {
  border: solid 1px lightgray;
  border-radius: 4px;
  padding: 2rem;
  box-shadow: -2px 2px lightgray;
}

.registerchild__add {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.registerchild__add__padding {
  padding-top: 2rem;
}

.registerchild__name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  @media (--mq-up-to-small) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.registerchild__date {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2rem;
  padding-top: 2rem;

  @media (--mq-up-to-small) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.registerchild__date__akabe {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  align-content: center;
}

.registerchild__date input {
  border-radius: 4px;
  border: solid 1px lightgrey;
  padding: 1rem;
  width: 100%;
  cursor: pointer;

  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }
}

.registerchild__sex {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.registerchild__sex__radio {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

.registerchild__sex__radio input {
  -webkit-appearance: none;
  cursor: pointer;
  appearance: none;
  margin: 0;
  width: 0.8em;
  height: 0.8em;
  border: 0.08em solid black;
  border-radius: 50%;
  transform: translateY(0.15em);
  padding: 0;

  display: grid;
  place-content: center;

  &::before {
    content: '';
    width: 0.38em;
    height: 0.38em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em black;
  }

  &:checked::before {
    transform: scale(1);
  }
}

.registerchild__sex__radio__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3rem;
  cursor: pointer;
}

.registerchild__tak {
  display: grid;
  grid-template-rows: 1fr 2fr;
  place-items: center;
  border: solid 1px lightgrey;
  border-radius: 4px;
  padding: 5px;
}
