.register-child {
  padding: var(--space-32) var(--space-80);
  border-bottom: solid 1px var(--color-light-grey);

  @media (--mq-up-to-medium) {
    padding: 2rem 0;
  }
}

.register-child__card {
  padding: var(--space-32);
  border: solid 0.063rem var(--color-light-grey);
  border-radius: 0.25rem;
  box-shadow: -0.125rem 0.125rem var(--color-light-grey);
}

.register-child__add {
  display: flex;
  justify-content: center;
  gap: var(--space-16);
}

.register-child__add__padding {
  padding-top: var(--space-32);
}

.register-child__card__name {
  display: grid;
  gap: var(--space-32);
  grid-template-columns: 1fr 1fr;

  @media (--mq-up-to-small) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.register-child__card__date {
  display: grid;
  padding-top: var(--space-32);
  gap: var(--space-32);
  grid-template-columns: 2fr 1fr 1fr;

  @media (--mq-up-to-small) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.register-child__card__date__akabe {
  display: grid;
  align-content: center;
  gap: var(--space-8);
  grid-template-columns: 1rem auto;
}

.register-child__card__date input {
  width: 100%;
  padding: var(--space-16);
  border: solid 0.063rem var(--color-light-grey);
  border-radius: 0.25rem;
  cursor: pointer;
}

.register-child__card__sex {
  display: flex;
  justify-content: center;
  padding-top: var(--space-32);
}

.register-child__card__sex__radio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--space-16);
}

.register-child__card__sex__radio input {
  display: grid;
  width: 0.8rem;
  height: 0.8rem;
  padding: 0;
  border: 0.08rem solid var(--color-black);
  margin: 0;
  appearance: none;
  border-radius: 50%;
  cursor: pointer;
  place-content: center;
  transform: translateY(0.15rem);

  &::before {
    width: 0.38rem;
    height: 0.38rem;
    border-radius: 50%;
    box-shadow: inset 1rem 1rem var(--color-black);
    content: '';
    transform: scale(0);
    transition: 120ms transform ease-in-out;
  }

  &:checked::before {
    transform: scale(1);
  }
}

.register-child__card__sex__radio__item {
  display: grid;
  cursor: pointer;
  gap: 0.3rem;
  grid-template-columns: 1fr 1fr;
}

.register-child__card__group {
  display: grid;
  padding: var(--space-5);
  border: solid 0.063rem var(--color-light-grey);
  border-radius: 0.25rem;
  grid-template-rows: 1fr 2fr;
  place-items: center;
}
