.tarifs {
  padding-top: 2rem;
}

.tarifs__cta__data__intro {
  display: flex;
  justify-content: center;
}

.tarifs__cta__data__button {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.tarifs__cta__container {
  padding-top: 3rem;
}

.tarifs__container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 2rem;
  border-bottom: solid 2px lightgray;
}

.tarifs__header__min {
  grid-column-start: 2;
}

.tarifs__header__pp {
  grid-column-start: 3;
}
