@use '@/assets/sass/settings/' as *;
@use '@/assets/sass/tools/' as tools;

.dropdown-item {
  display: block;
  text-transform: none;
  border-bottom: tools.rem(1) solid $color-grey-light;
  text-decoration: none;
  transition: border-color $transition-short;
  height: 100%;

  &:hover {
    border-color: $color-grey-extra-light;
  }

  &:focus {
    outline: tools.rem(1) solid $color-grey-light;
    outline-offset: tools.rem(4);
    border-radius: tools.rem(1);
    border: none;
  }
}

.dropdown-item__title {
  font-family: $font-family-title;
  font-size: tools.rem(14);
  color: $color-black;
}

.dropdown-item__description {
  font-family: $font-family-text;
  font-size: tools.rem(14);
  color: $color-primary;
  line-height: tools.rem(18);
}
