.t-weight-normal {
  font-weight: var(--font-weight-normal) !important;
}

.t-weight-medium {
  font-weight: var(--font-weight-medium) !important;
}

.t-weight-bold {
  font-weight: var(--font-weight-bold) !important;
}
