@use '@/assets/sass/settings/' as *;
@use '@/assets/sass/tools/' as tools;

.block-container {
  position: relative;
  padding-top: tools.rem(108);
  padding-bottom: tools.rem(108);
  background-color: $color-white;
}

.block-container__bg-image {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;

  &--dark {
    overflow: hidden;
    border-bottom-right-radius: tools.rem(180) tools.rem(64);

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-color: $color-green;
      overflow: hidden;
    }

    @include tools.respond-from(large) {
      border-bottom-right-radius: tools.rem(320) tools.rem(128);
    }
  }

  &--opaque {
    margin-right: 0;
    border-bottom-right-radius: tools.rem(180) tools.rem(64);

    &::after {
      background-color: rgba($color-green, 0.9);
    }

    @include tools.respond-from(large) {
      border-bottom-right-radius: tools.rem(320) tools.rem(128);
    }
  }

  &--reversed {
    transform: scale(1, -1);
  }
}

.block-container__content {
  position: relative;
}

.block-container__cta {
  position: absolute;
  z-index: $z-index-cta;
  left: 50%;

  &--top {
    top: 0;
    transform: translate(-50%, -50%);
  }

  &--bottom {
    bottom: 0;
    transform: translate(-50%, 50%);
  }
}
