.colorLabel {
  display: grid;
  grid-template-columns: auto 2em;
  gap: 0.5em;
  cursor: pointer;
}

.colorInput {
  border: none;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  transform: translateY(-0.1em);
  background: transparent;
}
