:root {
  --z-index-nav-dropdown: -1;
  --z-index-hero: 20;
  --z-index-cta: 25;
  --z-index-header: 30;
  --z-index-nav-bar: 40;
  --z-index-nav-dropdown-content: 50;
  --z-index-nav-small: 60;
  --z-index-nav-logo: 70;
  --z-index-nav-trigger: 71;
  --z-index-skip-to-content: 90;
  --z-index-tooltip: 100;
}
