@use '@/assets/sass/settings/' as *;
@use '@/assets/sass/tools/' as tools;

.button {
  display: flex;
  padding: tools.rem(12) tools.rem(26);
  font-size: tools.rem(10);
  height: fit-content;
  width: fit-content;
  border: none;
  border-radius: tools.rem(36);
  box-shadow: $shadow-small;
  transition: background-color $transition-medium;
  transition: box-shadow $transition-medium;
  transition: transform $transition-medium;
  color: $color-black;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-medium;
    transform: translate(tools.rem(1), tools.rem(-1));
  }

  &:focus {
    box-shadow: none;
    outline: tools.rem(2) solid;
    outline-offset: tools.rem(2);
  }

  &--primary {
    background-color: $color-secondary;

    &:focus {
      outline-color: $color-secondary;
    }
  }

  &--light {
    background-color: $color-white;

    &:focus {
      outline-color: $color-white;
    }
  }

  &--small {
    padding: tools.rem(6) tools.rem(26);
  }

  @include tools.respond-from(medium) {
    padding: tools.rem(14) tools.rem(32);
    font-size: tools.rem(12);

    &--small {
      padding: tools.rem(8) tools.rem(28);
    }
  }

  &--link1 {
    background-color: $color-white;
    box-shadow: none;
    color: $color-black;
    padding: 0;

    &:hover,
    &:focus {
      outline: none;
      box-shadow: none;
      transform: none;
      text-decoration: underline;
    }
  }

  @include tools.respond-from(large) {
    padding: tools.rem(16) tools.rem(36);
    font-size: tools.rem(14);

    &--small {
      padding: tools.rem(10) tools.rem(30);
    }
  }
}

.button__label {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: $font-family-title;
  font-weight: $font-weight-semibold;
  letter-spacing: tools.rem(0.5);
}
