@use "@/assets/sass/settings/" as *;
@use "@/assets/sass/tools/" as tools;

.button {
  display: flex;
  padding: tools.rem(16) tools.rem(36);
  border: none;
  border-radius: tools.rem(36);
  background-color: $color-yellow;
  transition: $transition;
  box-shadow: $shadow-small;

  &--primary {
    background-color: $color-yellow;
  }

  &--light {
    background-color: $color-white;
  }

  &:hover {
    cursor: pointer;
    box-shadow: $shadow-medium;
  }
}

.button__label {
  text-transform: uppercase;
  font-family: $font-family-title;
  font-weight: $font-weight-semibold;
  letter-spacing: tools.rem(0.5);
}
