.breadcrumbs {
  display: flex;
  align-items: center;
  padding-left: 0;
  gap: var(--space-12);
  list-style-type: none;
}

.breadcrumbs__item {
  flex-shrink: 0;
  color: var(--color-foreground-muted);
}

.breadcrumbs__link {
  display: flex;
  align-items: center;
  justify-content: center;
}
