@use '@/assets/sass/settings/' as *;
@use '@/assets/sass/tools/' as tools;

.nav-item {
  margin: 0 tools.rem(24);
  font-family: $font-family-title;
  text-transform: uppercase;
  font-weight: $font-weight-semibold;
  text-decoration: none;
  color: $color-black;
  background-color: transparent;
  border: none;

  &:hover,
  &:focus,
  &:focus-within {
    cursor: pointer;
    text-decoration: underline;
  }
}

.nav-item__dropdown-trigger {
  @include tools.respond-from(large) {
    &:hover,
    &:focus,
    &:focus-within {
      & .nav-item__dropdown {
        display: flex;
      }
    }
  }
}

.nav-item__dropdown-trigger__link {
  display: block;
  padding: tools.rem(24) 0;
  align-items: center;
  text-decoration: none;
  color: $color-black;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }

  &--small {
    display: flex;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: $font-weight-semibold;
    cursor: pointer;
  }

  &--large {
    display: none;
  }

  @include tools.respond-from(large) {
    &--small {
      display: none;
    }

    &--large {
      display: flex;
    }
  }
}

.nav-item__dropdown-trigger__link__chevron {
  margin-left: tools.rem(6);
  height: tools.rem(5);
  transform: rotate(-90deg);

  @include tools.respond-from(large) {
    transform: rotate(0);
  }
}

.nav-item__dropdown {
  position: absolute;
  display: none;
  padding-top: tools.rem(22);
  top: tools.rem(48);
  left: 0;
  width: 100%;

  @include tools.respond-up-to(large) {
    &--visible {
      display: flex;
    }
  }

  @include tools.respond-from(large) {
    z-index: $z-index-nav-dropdown;
  }
}
