.nav-item {
  border: none;
  margin: 0 var(--space-12);
  background-color: transparent;

  &:hover,
  &:focus,
  &:focus-within {
    cursor: pointer;
    text-decoration: underline;
  }
}

.nav-item__dropdown-trigger__link {
  display: flex;
  align-items: center;
  padding: var(--space-24) var(--space-12);
  border: none;
  background: none;
  color: var(--color-foreground);
  font-family: var(--font-family-title);
  font-size: 1rem;
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}

.nav-item__dropdown-trigger__link__chevron {
  margin-left: var(--space-4);
  transform: rotate(-90deg);

  @media (--mq-from-large) {
    transform: rotate(0);
  }
}

.nav-item__dropdown {
  position: absolute;
  top: var(--space-72);
  left: 0;
  overflow: auto;
  width: 100%;
  max-width: none;
  max-height: calc(100vh - 4.5rem);
  padding: 0;
  border: none;
  margin: 0;

  &::backdrop {
    background: none;
  }

  @media (--mq-from-large) {
    z-index: var(--z-index-nav-dropdown);
    border-top: 0.0625rem solid var(--color-neutral-100);
    box-shadow: var(--drop-shadow-nav);
  }
}
