@use '@/assets/sass/settings/' as *;
@use '@/assets/sass/tools/' as tools;

.nav-item {
  padding: tools.rem(24);
  font-family: $font-family-title;
  text-transform: uppercase;
  font-weight: $font-weight-semibold;
  text-decoration: none;
  color: $color-black;
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.nav-item__dropdown-trigger {
  &:hover {
    & .nav-item__dropdown {
      display: flex;
    }
  }
}

.nav-item__dropdown-trigger__link {
  display: flex;
  align-items: center;
  color: $color-black;
  text-decoration: none;
}

.nav-item__dropdown-trigger__chevron {
  margin-left: tools.rem(6);
  height: tools.rem(5);
  transform: rotate(-90deg);

  @include tools.respond-from(large) {
    transform: rotate(0);
  }
}

.nav-item__dropdown {
  position: absolute;
  display: none;
  padding-top: tools.rem(22);
  top: tools.rem(48);
  left: 0;
  z-index: $z-index-nav-dropdown;
  width: 100%;
}
