.submitContainer {
  display: flex;
  justify-content: center;
  padding-top: 0.7em;
}

.submitInput {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding: var(--space-12) var(--space-24);
  border: none;
  border-radius: var(--border-radius-btn);
  color: var(--color-foreground);
  filter: drop-shadow(var(--drop-shadow-sm));
  transition: background-color var(--transition);
  transition: filter var(--transition);
  transition: border-radius var(--transition);
  background-color: var(--color-theme-secondary);

  &:hover {
    border-radius: var(--border-radius-btn-hover);
    cursor: pointer;
    filter: drop-shadow(var(--drop-shadow-md));
  }

  &:focus {
    border-radius: var(--border-radius-btn-hover);
    outline: 0.125rem solid;
    outline-offset: var(--space-2);
    outline-color: var(--color-theme-secondary);
  }
}
