.faq {
  border-top: solid var(--color-light-grey) 0.0625rem;
}

.faq__title {
  margin-top: var(--space-80);
}

.faq__container {
  border: solid var(--color-light-grey) 0.0625rem;
  border-radius: var(--border-radius);
  margin-top: var(--space-72);
  box-shadow: var(--drop-shadow-md);
}

.faq__bottom-text {
  margin: var(--space-64) 0;
  text-align: center;
}
