.footer-head {
  margin: var(--space-72) 0;
}

.footer-head__title {
  margin-bottom: var(--space-12);
  font-family: var(--font-family-title);
  font-size: 1.75rem;
  font-weight: var(--font-weight-bold);
}

.footer-head__info {
  margin-top: 0;
  color: var(--color-theme-primary);
  font-family: var(--font-family-body);
  font-size: 1rem;
}
