@use '@/assets/sass/settings/' as *;
@use '@/assets/sass/tools/' as tools;

.footer-head {
  margin: tools.rem(72) 0;
}
.footer-head__title {
  font-family: $font-family-title;
  font-weight: $font-weight-bold;
  font-size: tools.rem(28);
  margin-bottom: tools.rem(12);
}

.footer-head__info {
  font-family: $font-family-text;
  color: $color-primary;
}
