.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: solid 2px darkgrey;
  border-radius: 2rem;
}

.login-form__container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 25rem;
  margin: auto;
  
  @media (--mq-from-medium) {
    max-width: 25rem;
  }

  @media (--mq-from-large) {
    max-width: 25rem;
  }

  @media (--mq-up-to-medium) {
    max-width: 20rem;
  }
}

.login-form__button {
  margin: 0 auto;
}

.login-form__input {
  width: 100%;
  padding: 1rem;
  border: solid 1px lightgrey;
  border-radius: 4px;
}

.login-form__label {
  max-width: 20rem;
  padding: 0 1.8rem;
  margin: 0 auto;
}

.login-form__loader {
  display: flex;
  justify-content: center;
}
