.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spaze-16);
  padding-top: var(--space-32);
  padding-bottom: var(--space-32);
  border: solid 2px var(--color-light-grey);
  border-radius: 2rem;
}

.login-form__container {
  padding-top: 4var(--space-64);
  padding-bottom: 4var(--space-64);
  max-width: 25rem;
  margin: auto;
  
  @media (--mq-from-medium) {
    max-width: 25rem;
  }

  @media (--mq-from-large) {
    max-width: 25rem;
  }

  @media (--mq-up-to-medium) {
    max-width: 20rem;
  }
}

.login-form__button {
  margin: 0 auto;
}

.login-form__input {
  width: 100%;
  padding: var(--space-16);
  border: solid 1px var(--color-light-grey);
  border-radius: 4px;
}

.login-form__label {
  max-width: 20rem;
  padding: 0 var(--space-28);
  margin: 0 auto;
}

.login-form__loader {
  display: flex;
  justify-content: center;
}
