.gallery--imagecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;

  @media (--mq-up-to-medium) {
    grid-template-columns: 1fr 1fr;
  }
}

.gallery--button {
  display: flex;
  justify-content: center;
}
