@use "@/assets/sass/settings/" as *;
@use "@/assets/sass/tools/" as tools;

.nav-item {
  padding: tools.rem(12) 0;
  font-family: $font-family-title;
  text-transform: uppercase;
  font-weight: $font-weight-semibold;
  text-decoration: none;
  color: $color-black;
  background-color: transparent;
  border: none;

  & + & {
    margin-left: tools.rem(36);
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.nav-item__dropdown-trigger {
  &:hover {
    & .nav-item__dropdown {
      display: flex;
    }
  }
}

.nav-item__dropdown {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: $color-white;
  box-shadow: $shadow-medium;
  top: tools.rem(58);
  padding: tools.rem(16);
  list-style-type: none;
}
