// ------------------ //
// Raw Colors         //
// ------------------ //

// Theme colors
$color-sage: #4d6e5a;
$color-tuscany: #edb942;

$color-red: #ff4343;

// Neutral colors
$color-white: #ffffff;
$color-grey-dark: #414141;
$color-grey-medium: #818181;
$color-grey-light: #d9d9d9;
$color-grey-extra-light: #f6f6f6;
$color-black: #000000;

// ------------------ //
// Functional Colors  //
// ------------------ //

$color-primary: $color-sage;
$color-secondary: $color-tuscany;
$color-bg: $color-white;
$color-dark-bg: $color-grey-dark;
$color-text: $color-black;
$color-focus: $color-sage;
$color-action: $color-sage;
$color-error: $color-red;
$color-skeleton: $color-grey-light;
$color-shadow: rgba($color-grey-dark, 0.2);
