.action-title {
  display: flex;
  flex-direction: column;
  margin: var(--space-32) 0;
  gap: var(--space-16);

  @media (--mq-from-medium) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.action-title__title {
  margin: 0;
}
