.table-of-contents {
  padding: var(--space-48) 0;
  border-top: solid var(--color-neutral-300) var(--space-1);
  border-bottom: solid var(--color-neutral-300) var(--space-1);
}

.table-of-contents__item {
  --color-link: var(--color-black);

  display: block;
  width: fit-content;
  padding: var(--space-8) 0;
  list-style-type: none;
  text-decoration: none;
}

.table-of-contents__item__prefix {
  color: var(--color-primary-base);
  font-weight: var(--font-weight-black);
}
