.TOC__item {
  color: var(--color-black);
  text-decoration: none;
}

.TOC {
  padding-top: var(--space-64);
  padding-bottom: var(--space-64);
  border-top: solid var(--color-black) 0.063rem;
  border-bottom: solid var(--color-black) 0.063rem;
}
