.u-shadow-sm {
  filter: drop-shadow(--drop-shadow-sm);
}

.u-shadow-md {
  filter: drop-shadow(--drop-shadow-md);
}

.u-shadow-lg {
  filter: drop-shadow(--drop-shadow-lg);
}

.u-shadow-xl {
  filter: drop-shadow(--drop-shadow-xl);
}
